@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Montserrat:wght@600&display=swap');
a {
  text-decoration: none;
    cursor: pointer;
}
body {
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
.lSSlideWrapper {
    position: static;
}
.lSSlideOuter {
    position: relative;
    overflow: visible;
}
#video
{
   /*padding:75.25% 0 0 0; (4:3)*/
   padding:66% 0 0 0;
   position:relative;
}
#video iframe
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #7d0140;
}
/* -------------------------------------------------- headertop------------------------------------------------------------ */
.headertop {
  background-color: #e8d7c3;
}
.contactus p {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #5d4d39;
}
.contactus p .colchan {
  color: #5d4d39;
}
.chan {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 18px;
  color: #5d4d39;
}
.strip {
  color: #7d0140;
}
.contactus p a {
  color: #7d0140;
  text-decoration: none;
}
.contactus p a:hover,
.fa:hover {
  color: #000;
  text-decoration: none;
}
/* - -----------------------------------------------------------------------------------------msa headermiddle------------------------------------------------------------------------------ -- */
.headerbottom {
  background-color: #7d0140;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.colouring li a {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 19px;
  color: #ffffff;
  padding: 3px 12px !important;
  cursor: hand;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e8d7c3;
}
.navbar-toggler {
  position: absolute;
  top: -3px;
  right: 0;
  background-color: #e8d7c3;
}

@media (max-width: 1199px) {
  #collapsibleNavbar {
    position: absolute;
    z-index: 33;
    top: 51px;
    background: #7d0140;
    right: 0px;
    width: 50%;
    border: 2px solid #e8d7c3;
  }
  .enroolbut {
    padding: 0px 64px;
  }
}
@media (max-width: 1199px) {
  .colouring li a {
    font-size: 14px;
    padding: 4px 15px !important;
  }
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #000;
  }

  .backgre h1 {
    font-size: 25px;
  }
  .backgre p {
    font-size: 14px;
  }
  .backgre button a {
    font-size: 15px;
  }
}

@media (max-width: 767px) {
  .navbar-toggler {
    position: absolute;
    right: 0;
    top: -2px;
  }

  .carousel-indicators li {
    display: none;
  }
  .banner .carousel-inner .mauryser {
    position: relative;
    width: 100%;
    bottom: 0px;
    text-align: center;
    background-color: #000000;
    padding: 10px;
    left: 0;
  }
}
@media (max-width: 575px) {
  #collapsibleNavbar {
    width: 100%;
  }
}
.logo img {
  position: absolute;
  z-index: 1;
  top: -63px;
  left: 0;
  width: 371px;
}
@media (max-width: 1620px) {
  .logo img {
    width: 342px;
    left: -34px;
    top: -52px;
  }
}
@media (max-width: 1199px) {
  .logo img {
    width: 331px;
    left: 26px;
  }
}
@media (max-width: 767px) {
  .logo img {
    width: 222px;
    left: 15px;
    top: -32px;
  }
}

.enroolbut a {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 19px;
  color: #7d0140;
  background-color: #e8d7c3;
  border-radius: 20px;
  text-decoration: none;
}
@media (max-width: 470px) {
  .enroolbut a {
    font-size: 12px;
  }
  .enroolbut {
    padding: 0px 47px;
  }
  .logo img {
    width: 150px;
    left: 0;
    top: -20px;
  }
}
.enroolbut a:hover {
  color: #ffffff;
  background-color: #e8d7c3;
}
.donate{
    position: absolute;
    right: 0;
    z-index: 1;
}
/*-------------------------------------------------banner-------------------------------------------------------- */
.carousel-control-next,
.carousel-control-prev {
  width: 3%;
  opacity: 1;
}
.banner .maur img {
  position: relative;
}
.banner .carousel-indicators li {
  height: 17px;
  border-radius: 50%;
  width: 17px;
}
.banner .carousel-indicators li:hover {
  background-color: #0751b4;
}
.banner .carousel-caption {
  right: 0%;
  left: 0%;
}
.banner .carousel-indicators {
  left: unset;
}
.banner .carousel-caption .box {
  max-width: 900px;
}
@media (max-width: 991px) {
  .waterdrain img {
    top: 11px;
    position: absolute;
    left: 48px;
    opacity: 0;
  }
  .mauryser h1 {
    font-size: 45px;
  }
}

.banner .box h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
  margin: 0px;
  background-color: #7d0140;
  padding: 7px 14px;
  display: inline-block;
}
.banner .box h2 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 0;
  padding: 7px 14px;
  color: #ffffff;
  background-color: #5d4d39;
}
@media (max-width: 767px) {
  .banner .carousel-inner .box {
    width: 100%;
    bottom: 0px;
    text-align: left;
    background-color: black;
  }
  .banner .carousel-caption {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 0 !important;
  }
  .box h1 {
    font-size: 27px !important;
  }
  .box h2 {
    font-size: 27px;
  }
  .banner .carousel-caption .container {
    padding: 0px;
    max-width: 100%;
  }
  .banner .box h1, .banner .box h2 {
    background-color: #000;
  }
  .banner .box h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 0;
    padding: 7px 14px;
    color: #ffffff;
  }
}
/* -----------------------------------------------------------------------------------------coin with hand-------------------------------------------------------------------------------- */
.coinwithhand {
  background-image: url(../tpl_images/coinwithhand.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.backgre h1 {
  color: #7d0140;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 31px;
}
.backgre p {
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.backgre ul li {
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  padding-left: 29px;
  background: url(../tpl_images/listimage.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 16px;
}
.backgre ul {
  list-style-type: none;
}
.backgre a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'Expletus Sans', cursive;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  background: #0751b4;
  border-radius: 30px;
  border: 1px solid #0751b4;
}
.backgre a:hover {
  background-color: #067c40;
  border: 1px solid #fff;
  color: #fff;
}
/* <!-- -----------------------------------------------------------------------------------------news & events--------------------------------------------------------------------------------> */
.newsevent {
  background-color: #f3f2f0;
}
.news h1 {
  color: #7d0140;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 31px;
}
.news p {
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.news .card-body {
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  background-color: #7d0140;
}
.news .card-body p {
  color: #f3f2f0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
/* -----------------------------------------------------------------------------------------keep your family doctor-------------------------------------------------------------------------------- */
.Keep {
  background-color: #7c6a54;
}
.Keep h1 {
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 35px;
  padding: 20px 0;
}
.yourf {
  background-color: #ffffff;
}
.yourf h5 {
  font-size: 32px;
  color: #333333;
}
.yourf p {
  color: #e8d7c3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.yourf a {
  color: #e8d7c3;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
}
.yourf h1 {
  color: #f3f2f0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
}
.yourf .lrgsqr {
  background-color: #7d0140;
  padding: 15px 0;
}

.lrgsqr h3 {
  margin: 0 52px;
  color: #fff;
}
.familydoc {
  padding: 34px;
}
.familydoc h1 {
  color: #7d0140;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 18px;
}
.familydoc h2 {
  color: #5d4d39;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 22px;
}
.familydoc p {
  color: #464646;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
}
.whwr p {
  color: #5d4d39;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 22px;
}
.accrvlo h4 {
  color: #5d4d39;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 14px;
}
.accrvlo h3 {
  color: #5d4d39;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
}
.accrvlo h4 span,
.accrvlo h3 span {
  color: #7d0140;
}
.accrvlo p a {
  color: #7d0140;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 14px;
}
/*******************************************************************************************services*************************************************************************************/
/*************services****************/
.services
{
    background: #7c6a54;
}
.services h2
{
    font-weight: 600;
    font-size: 35px;
    font-family: 'Montserrat', sans-serif; 
    color: white;
}
.services p
{
    font-weight: 500;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif; 
    color: white;
}
@media(max-width: 576px){
	.services h2 {
		font-size: 25px;
	}
}
.services .card
{
    border:0;
    border-radius:10px;
    padding: 10px;
    background:#fff;
}
.services .card-body
{  
}
.services .card h4
{
    font-size: 20px;
    color: #7d0140;
    font-weight: 600;
    font-family: 'Merriweather', serif;
}
.services .card p
{
    font-size: 15px;
    font-family: 'Montserrat', sans-serif; 
    font-weight: 600;
    color: #464646;
    line-height:19px;
}
.services .btn, .gallery .btn, .conta .btn{
    color:  #7d0140;
    background: #e8d7c3;
    border-radius: 20px;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    padding: 10px 11px;
    font-size: 18px;
}
.services .btn:hover, .gallery .btn:hover, .conta .btn:hover{
    background: #fff;
    border: 1px solid #e8d7c3;
}
.services .carousel-multi-item 
{
    margin-bottom: 0;
}
.services .lSAction
{
	position: absolute;
	width: 100%;
	top: 50%;
}
.lSAction > a
{
    background-image: none;
}
.lSSlideOuter .lSPager.lSpg 
{
    display: none;
}
.services .lSAction > .lSPrev 
{
    top: -20px;
    width: 39px;
    height: 100px;
    background: url(../tpl_images/lefarrowli.png);
    background-position: 0!important;
    opacity: .9;
    background-repeat: no-repeat;
    left: -62px;
}
.services .lSAction > .lSNext
{
    top: -20px;
    background: url(../tpl_images/rightli.png);
    width: 39px;
    height: 100px;
    background-position: 0!important;
    opacity: .9;
    background-repeat: no-repeat;
    right: -62px;
}
@media(max-width:1199px){
    .services .lSAction > .lSPrev 
    {
        left: 0;
    }
    .services .lSAction > .lSNext
    {
        right: 0;
    }
}
@media(max-width:767px)
{
    .services .lSAction > .lSPrev 
    {
        display: none;
    }
    .services .lSAction > .lSNext
    {
        display: none;
    }
}
/**************gallery slider****************/
.gallery{
    background: #7d0140;
}
.gallery h1 {
    color: #fffaf5;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 30px;
}
/* -----------------------------------------------------------------------------------------get in touch-------------------------------------------------------------------------------- */
.heading {
  background-image: url(../tpl_images/nursewithgrandma.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.conta h1 {
  color: #7d0140;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 31px;
}
.conta h2 {
  color: #464646;
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 18px;
}
/*-----------------------------------------------------------contactus-------------------------------------------------- */
.quick {
  background-image: url(../tpl_images/peoplessitting.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.quicklink li a {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.quicklink ul {
  list-style-type: none;
  padding: 0%;
}
.service ul {
  list-style-type: none;
  padding: 0%;
}
.spannn:hover {
  color: none;
}
.quick a:hover {
  color: #969697;
}
.quick .fa:hover {
  color: #fff;
}
.add span {
  color: #e0e0e0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.add a span,
.add span:hover {
  color: #969697;
}
.add a span {
  color: #e0e0e0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
}
.quicklink h1,
.contactuss h1,
.service h1,
.Visitus h1 {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  font-size: 24px;
  color: #e8d7c3;
}
.contactii {
  color: #f5f5f5;
}
.service li a {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.quick .fa {
  background: #7d0140;
  font-size: 25px;
  border-radius: 11px;
  color: #e8d7c3;
  width: 43px;
  height: 43px;
  text-align: center;
  line-height: 46px;
  text-decoration: none;
}
.quick .fa:hover {
  background: #ffffff;
  color: #969697;
}
.donatatio a {
  font-family: 'Merriweather', serif;
  font-weight: 600;
  font-size: 22px;
  color: #7d0140;
  background-color: #e8d7c3;
  border-radius: 20px;
  text-decoration: none;
}
.donatatio a:hover{
  background-color: #7d0140;
  color: #e8d7c3;
}
.adding a span {
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}
.spann span:hover {
  color: #969697;
}
/* -----------------------------------------------------------------------------------------footer-------------------------------------------------------------------------------- */
footer {
  background-color: #7d0140;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.footer_strip a:hover {
  color: #000;
}
.Copyrightscott a {
  color: #e8d7c3;
  text-decoration: none;
}
